<h1>{{currentTurn}} to play</h1>

<div class="boardBackground">
  <ng-container cdkDropListGroup (mouseup)="deselectPiece()">
    <div class="chessBoard" >
      <div class="row" *ngFor="let row of chessBoard2; index as i">
        <div class="chessSquare piece" *ngFor="let square of row; index as j"
             cdkDropList
             cdkDropListSortingDisabled="true" 
             [cdkDropListData]="{square:chessBoard2[i][j], indexI:i, indexJ:j}"
             (cdkDropListDropped)="drop($event)"
             (mouseover)="pieceMousedOver(i, j)"
             [ngClass]="{'capture': square.showCapture == true}">              
          <img [src]="square.image" (mousedown)="downClick()" (mouseup)="upClick()" cdkDrag>
          <span *ngIf="square.showMove" class="dot"></span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div>FEN position string: {{fenPosition}}</div>
<div>move history {{moveHistory}}</div>

<router-outlet></router-outlet>